/**
 * Text properties
 */


/* Text Shadown */
.text-shadown-bottom-right-green{text-shadow: 5px 5px #64871b;}
.text-shadown-bottom-right-orange{text-shadow: 5px 5px #CC5830;}
.text-shadown-bottom-right-purple{text-shadow: 5px 5px #5F428A;}
.text-shadown-bottom-right-blue{text-shadow: 5px 5px #50667D;}
.text-shadown-bottom-right-aqua-blue{text-shadow: 5px 5px #368CA7;}

/* Text Transform */
.text-to-uppercase{text-transform: uppercase;}
/* Text Align */
.text-center{text-align: center;}
